body {
  margin: 0;
  background-color: lightcoral;
  font-family: 'Courgette', cursive;
  text-align: center;
}

/* Título de la Pág */
h1 {
  font-size: 2.5em;
  text-decoration: underline;
}
/* Subtitulo */
p {
  font-size: 2em;
}

/* Formulario de registro */
form {
  width: 40%;
  background-color: crimson;
  padding: 2em;
  border-radius: 2em;
  margin: 0 auto;
}

input {
  width: 40%;
  background-color: antiquewhite;
  text-align: center;
  padding: 0.5em;
  border-radius: 1em;
}

button {
  background-color: lightcoral;
  padding: 0.5em;
  border-radius: 1em;
  font-weight: bold;
}

/* Sección con tabla de usuarios registrados */
section {
  margin-top: 5em;
  margin-bottom: 5em;
}

table {
  width: 50%;
  background-color: crimson;
  padding: 2em;
  border-radius: 1em;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
}